@import "tailwindcss";

@theme {
  --color-primary: #64FFDA;
  --color-background-light: #F3F4F6;
  --color-background-dark: #0A192F;
  --color-text-light-primary: #111827;
  --color-text-light-secondary: #6B7280;
  --color-text-dark-primary: #E5E7EB;
  --color-text-dark-secondary: #9CA3AF;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.animate-caret {
  animation: caret 2s steps(2) infinite;
}

